<div>
  <h1>Welcome <%= @user.name %> </h1>
  <p> <a href="/hidden_places/new">Add a new place</a>
  <p> These are your hidden places: </p>
  <table>
    <% @hidden_places.each do |hidden_place| %>
      <tr><th id=display_place>
        <%= hidden_place.title %> </br>
<!--         <%= hidden_place.description %> </br>
        <%= hidden_place.location %> </br>
        <%= hidden_place.url %> </br> -->
      </th></tr>
    <%end%>
  </table>
</div>
